@font-face {
    font-family: 'Track'; /*a name to be used later*/
    src: url('../fonts/Track.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'TrackItalic'; /*a name to be used later*/
    src: url('../fonts/Track Italic.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Sans'; /*a name to be used later*/
    src: url('../fonts/museosans500/MuseoSans_500-webfont.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Museo Sans Italic'; /*a name to be used later*/
    src: url('../fonts/museosans500/MuseoSans_500_Italic-webfont.ttf'); /*URL to font*/
}
